body{
  width: 960px;
  margin: 0 auto;
}

header{
  width: 960px;
  background-color: #567ca4;
  height: 50px;
  display: inline-block;
  position: fixed;
}

#block_1{
  width: 560px;
  float: left;
}

#block_1 img{
  width: 80%;
  margin-left: 10%;
}

#block_1 h2{
  color: #567ca4;
  margin-top: 35px;
  width: 90%;
}

#form_block{
  margin-top: 10px;
  width: 500px;
  float: left;
  margin-left: 120px;
}

#form_block h1{
  color: #567ca4;
}

.btn_out{
  display: inline-block;
  float: right;
  color: white;
  text-decoration: none;
  padding-top: 14px;
  padding-right: 15px;
}

.btn_out:hover{
  color: #cfcbcb;
}

#form_block form .input_field{
  width: 485px;
  height: 30px;
  color: grey;
}

#form_block form .submit_field{
  margin-left: 75px;
  margin-top: 20px;
  height: 50px;
  width: 255px;
  background-color: #567ca4;
  border: none;
  color: white;
  border-radius: 5px;
}

#form_block form .submit_field:hover{
  border: 1px solid #1a0dab;
}

/*profile.php*/
#left_side{
  width: 200px;
  margin-left: 35px;
  float: left;
  margin-top: 50px;

}

#right_side{
  margin-left: 35px;
  width: 450px;
  float: left;
    margin-top: 25px;
}

.clear{
  clear; both;
}

#profile_img{
  width: 200px;
}

#profile_img img{
  width: 100%;
}
.btn_fre_mes{
  text-align:center;
  width: 150px;
  font-size: 12px;
  margin-left: 25px;
  height: 30px;
  background-color:#4e9340;
  line-height: 28px;
  margin-top: 5px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

#profile_img a{
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

#profile_menu{
  width: 200px;
  position: fixed;
  margin-top: 30px;
}

#profile_menu ul{
  margin-top: 50px;
  padding-left: 0px;
  height: 250px;
  list-style-type: none;
}

#profile_menu ul li{
  margin-top: 10px;
  padding-left: 0px;
  background-color: #567ca4;
  list-style-type: none;
  display: block;
  text-align: center;
  border-radius: 5px;
}

#profile_menu ul li a{
  color: white;
  text-decoration: none;
}

#profile_menu ul li a:hover{
  color: #cbc5c5;
}

#user_name{
  color: #808080;
}

.about_user{
  color: #3C6396;
  font-weight: bold;
}

/*  /friends*   */
.img_friend{
  width: 100px;

}
.img_friend img{
  width: 100%;
}

.block_for_friend{
  margin-top: 30px;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 5px;
}

.block_for_friend a{
  text-decoration: none;
  color: #0f3c6b;
}

#section_show_friends h2, h1{
  padding-bottom: 10px;
  color:#0f3c6b;
}
/*profile/ondex*/
#user_friend h2{
  margin-top: 30px;
  color:#0f3c6b;
}

.ind_for_friend{
  width: 50px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}
.ind_img_friend img{
  width: 100%;
  height: 50px;
}

.ind_block_for_friend{
  margin: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
}

.ind_block_for_friend a{
ind_  color: #0f3c6b;
}

#user_friend {
  color:#0f3c6b;
  float: left;
}

.ind_name_friend {
  text-align: center;
}

#user_notice {
  color:#0f3c6b;
  float: left;
  width: 754px;
}

#user_notice h2{
  margin-top: 30px;
  color:#0f3c6b;
}

/*message*/
#block_msg_to_me p{
  text-align: right;
}

.block_text_iam{
  width: 500px;
  float: left;
}

#block_scroll{
  overflow-Y: scroll;
  height: 550px;
  padding: 10px;
  width: 600px;
  margin-left: 20px;
}
#field_msg_q{
  width: 760px;
  height: 60px;
  float: left;
}

#send_btn{
  float: right;;
  width: 140px;
  height: 50px;
  background-color: #0f3c6b;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}
.clear{
  clear: both;
}

.avatar_mes_iam{
  width: 50px;
  float: right;
}

.avatar_mes_iam img{
  width: 100%;
}

.avatar_mes_to_me{
  width: 50px;
  float: left;
}

.avatar_mes_to_me img{
  width: 100%;
}

.block_text_to_me{
  width: 500px;
  float: right;
}
.msg_date_iam{
  text-align: center !important;
  margin: 0;
  font-size: 11px;
  color: grey;
  padding-left: 70px;
}

.msg_date_to_me{
  text-align: center !important;
  margin: 0;
  font-size: 11px;
  color: grey;
  padding-right: 70px;
}

/*messages*/
.block_dialog{

}

.block_dialog a{
  text-decoration: none;
  color: #0f3c6b;
}
.about_dialog{
  width: 20%;
  float: left;
}
.last_msg{
  width: 79%;
  float: left;
  margin-top: 20px;
}

.date_last_msg{
  text-align: center !important;
  margin: 0;
  font-size: 11px;
  color: grey;
  padding-right: 70px;
  padding-bottom: 20px;
}
#user_friend h2 a{
  text-decoration: none;
  color:#0f3c6b;
}
#user_friend a{
color: #595a69;
font-weight: 600;
text-decoration: darkred;
font-size: 12px;
}
#user_friend h2 a{
  text-decoration: none;
  color:#0f3c6b;
  font-size:  24px;
}
.qwerty{
  font-size: 20px;
  color: #4c6bab;
  font-weight: 600;
}

.wallpost_avatar_from{
  width: 50px;
  float: left;
  margin-right: 20px;
}

.wallpost_avatar_from img{
  width: 100%;
  height: 50px;
}

.wallpost_body iframe{
  width: 100%;
}
.wallpost_body img{
  max-width: 100%;
}
#post_body{
  width: 97%;
  height: 50px;
}
#post_submit{
  float: right;
}
#mceu_3{
  margin-left: 20px !important;
}
.block_text_iam img{
  max-width: 30% !important;
  height: auto !important;
}
.block_msg_to_me img{
  max-width: 30% !important;
  height: auto !important;
}
#mceu_9{
  display: none;
}

#right_side_mess{
  margin-left: 35px;
  float: left;
  margin-top: 25px;
}

.mce-panel{
  background-color: #0f3c6b !important;
}

#page_body{
  float: right;
  margin-top: 30px;
  width: 760px;
}

.block_text_iam iframe{
  width: 100%;
}
.block_text_to_me iframe{
  width: 100%;
}

.wallpost_date{
  font-size: 12px;
  color: grey;
  margin-top: 0px;
}
.wallpost_from{
  margin-bottom: 5px;
}

.wallpost{
  font-size: 13px;
  margin-bottom: 30px;
}
.wallpost textarea{
  width: 446px;
}

.wall_coments{
  float: right;
  font-size: 12px;
}
.block_like{
  float: left;
  width: 50%;
  font-size: 12px;
  color: #0f3c6b;
  cursor: pointer;
}
.count_like_spn{
  font-weight: bold !important;
}
.coment_area{
  display: none;
}
